<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center">Register Here</h1>


          <!-- {{user | json}} -->


          <form (ngSubmit)="formSubmit()">
            <!-- Username field -->
            <div>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input
                [(ngModel)] = "user.username"
                name="username"
                matInput placeholder="Enter here">
                <mat-hint>Username must be unique</mat-hint>
              </mat-form-field>
            </div>
            <!-- Password field -->
            <div>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input
                [(ngModel)] = "user.password"
                name="password"
                matInput type="password" placeholder="Enter here">
              </mat-form-field>
            </div>
            <!-- firstname -->
            <div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>First Name</mat-label>
                  <input 
                  [(ngModel)] = "user.firstname"
                  name="firstname"
                  matInput placeholder="Enter here">
                </mat-form-field>
              </div>
              <!-- Last Name -->
              <div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Last Name</mat-label>
                  <input 
                  [(ngModel)] = "user.lastname"
                  name="lastname"
                  matInput placeholder="Enter here">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input
                  [(ngModel)] = "user.email"
                  name="email"
                  matInput placeholder="Enter here">
                </mat-form-field>
              </div>
              <!-- Phone Number -->
              <div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Phone Number</mat-label>
                  <input
                  [(ngModel)] = "user.phone"
                  name="phone"
                  matInput placeholder="Enter here">
                </mat-form-field>
              </div>         
              
              <div class="container text-center">
                <button type="submit" mat-raised-button color="primary">Register</button>
                <button style="margin-left: 20px;" mat-raised-button color="accent" >Reset</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  